#name {
  color: #ffa500;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
/* p {
  padding-right: 20px;
  margin-right: 170px;
} */
.btn-color {
  background-color: #ff7152;
  color: #ffff;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border-width: 0px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: palegreen;
}
button:hover {
  color: black;
}

.part {
  display: inline-flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half {
  margin: 0px 55px 0px 95px;
}

.image-size {
  height: 500px;
  width: 500px;
  margin: 0px 10px;
  margin-right: 100px;
}
